html {
    max-width: 900px;
    margin: 0 auto;
    height: 1350px;
}
body {
    max-width: 900px;
    margin: 0 auto;
    height: 1350px;
    background: url("https://borysandrew.github.io/mainproject/background.jpg") no-repeat;
    background-size: 100%;
}
.content {
    display: flex;
    flex-direction: column;
}
h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    margin: 0;
}
@media (max-width:437px) {
    h1 {
        font-size: 30px;
    }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px;
    margin: 0 50px;
}

.new {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 50px;
    color: #edeff2;
    background-color: #aeafbd;
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
}
#WriteBtn {
    height: 4rem;
    width: 50%;
}
.btn-primary {
    background-color: #5a5c5d;
}

p {
    margin: 0;
    padding: 4px;
    text-align: center;
    font-size: 30px;
    color: #aeafaf;
    background-color: #edeff2;
    font-family: Helvetica;
}
@media (max-width: 700px) {
    p {
        font-size: 25px;
    }
}
@media (max-width: 580px) {
    p {
        font-size: 12px;
    }
}
@media (max-width: 296px) {
    p {
        font-size: 8px;
    }
}
@media(max-width:251px) {
    p {
        font-size: 6px;
    }
}
p:hover {
    background-color: #d8d8d8;
    color: #ffffff;
}
a:link {
    text-decoration: none;
    color: #aeafaf;
}
a:visited {
    color: #aeafaf;
}
#heading {
    display: grid;
    grid-template-columns: 2.1fr 1fr 2.1fr;
    grid-template-rows: 35px;
    margin: 0;
    text-align: center;
    padding: 5px 40px;
}
@media(max-width:450px) {
    #heading {
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-rows: 0;
        padding: 0;
    }
}
#ArtOfDesign {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}
@media (max-width:700px) {
    #ArtOfDesign {
        font-size: 15px;
    }
}
@media (max-width:580px) {
    #ArtOfDesign {
        font-size: 10px;
        margin: 4px;
    }
}
hr {
    max-width: 310px;
    height: 2px;
    text-align: center;
    margin: 10px;
}
#picture {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px 0 10px 0;
}
@media(max-width:580px) {
    #picture {
        margin: 25px 0;
    }
}
img {
    grid-column-start: 2;
    width: 100%;
}
@media(max-width:437px) {
    img {
        max-width: 250px;
    }
}
@media (max-width: 437px) {
    html {
        margin: 0 auto;
        max-width: 400px;
        max-height: 700px;
    }
    .men {
        margin: 20px;
    }
}
.wraper {
    background-color: #edeff2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 4fr 1.5fr;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    grid-gap: 8px;
}
@media(max-width:750px) {
    .wraper {
        grid-template-rows: 1fr 1fr 2fr 1fr;
    }
}
.ttt {
    grid-column: 1/3;
    width: 100%;
}
@media(max-width:665px) {
    button {
        width: 40%;
    }
}
@media(max-width:400px) {
    button {
        width: 100%
    }
}
button:hover {
    background-color: #cccbcb;
}
.WriteToMe {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: white;
    margin: 5px auto;
    text-align: center;
}
@media(max-width:750px) {
    .WriteToMe {
        font-size: 20px;
    }
}
.all {
    width: 100%
}
@media(max-width:715px) {
    .all {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
@media(max-width:655px) {
    button {
        font-size: 12px;
    }
    .data {
        font-size: 14px;
    }
    .wraper {
        grid-template-rows: 10% 10% 15% 10%;
    }
    .WriteToMe {
        font-size: 16px;
    }
}
textarea {
    width: 99%;
}
.bottom {
    align-self: center;
    margin: 10%;
}
.carousel-inner {
    z-index: -1;
}
@media(max-width:400px) {
    .hamburger {
        width: 68%;
        /* justify-self: center; */
        align-self: center;
    }
    .men {
        display: flex;
        flex-direction: column;
    }
    #WriteBtn {
        height: 2rem;
        width: 50%;
        padding: 0;
    }
    nav {
        position: fixed;
        margin: 25px auto;
        align-self: center;
        width: 60%;
        opacity: 0.9;
        display: none;
    }
    p {
        font-size: 14px;
    }
}
@media(min-width:400px) {
    nav {
        display: grid
    }
    .hamburger {
        display: none;
    }
}
@media(max-width:300px) {
    h1 {
        font-size: 20px
    }
}
@media(max-width:275px) {
    .men {
        margin-bottom: -0.5rem;
    }
    #picture {
        margin: 15px 0;
    }
}
